* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body {
  overflow: hidden;
} */

#load-bar {
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  height: 3px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}
div > a.active {
  text-decoration: underline;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  position: absolute;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}



.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.css-yk16xz-control {
  padding: 8.5px 0px;
}